h1 {}

.md-header {
	background-color: #5eab43;
}

@media only screen and (max-width: 76.1875em) {
    html .md-nav--primary .md-nav__title--site {
        position: relative;
        background-color: #5eab43;
        color: #fff;
    }
}
